* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  font-family: "Fredoka", sans-serif; 
  
}

.d-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 96vw;
  margin: 20px auto;
}

.introduction {
  margin-bottom: 80px;
}

.introduction h1 {
  color: #E53170;
  margin-bottom: 40px;
  font-size: 4rem;
}

.introduction p{
  font-size: 1.5rem;
}

.row {
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 gap: 0 20px;
}

.card {
  display: flex;
  width: calc(90% / 3);  
  background-color: #000000;
  margin-bottom: 40px;
}

.card .img {
  overflow: hidden;
  width: 30%;
}

.card .txt {
  padding: 10px;
}

.card .img img {
  width: 100%;
  height: 100%;
}

.card .name, .role, .email {
  padding: 5px;
  border: 1px solid black;
  color: white;
}

.card .name p{
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .role, .email {
  font-size: 1.5rem;
}

.new-member .inputs input{
  margin: 20px;
}

.new-member .buttons{
  text-align: center;
  margin-top: 20px;
}

.new-member .buttons button{
  padding: 10px;
  background-color: black;
  color: white;
}